﻿/* AutoComplete List Styles */
    /* Container for the list options */
        .list{left: 120px;top: 63px;	position: absolute;}
        
        /* Hide link underline */
        .list a
        {
            text-decoration: none;
        }
        
    /* Normal Option */
        .LO
{
	/*background: paleturquoise;
	color: #2a56b3;*/
	background: #a591d8;
	color: #a591d8;
	padding: 3px;
	font-size: 12px;
	cursor: default;
	
	border-right: #ffffff 1px solid;
	border-top: #ffffff 1px solid;
	border-left: #7494b2 1px solid;
	
	border-bottom: #7494b2 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11;color: #ffffff;
	
}

    /* Hover Option */    
        .LOHL
        {
            background: #e0ebfb;
            color: #2a56b3;
            border: 1px solid #2a56b3;
            padding: 3px;
            font-family: verdana, sans-serif;
            font-size: 12px;
            cursor: pointer;
            
        }

/* AutoComplete item */
.AutoCompleteExtender_CompletionList 
{
background-color : #a591d8;
padding : 3px;
font-size: 11px;
left:120px;
top:63px;	
position:relative;
/*creates border with
autocomplete_completionListElement
background-color*/
}

/*AutoComplete flyout */
.AutoCompleteExtender_CompletionListItem 
{ 
text-align : left;
padding : 1px;
/*background-color:White;*/
}

/* AutoComplete highlighted item */
.AutoCompleteExtender_HighlightedItem
{
background-color: #e0ebfb;
color: #2a56b3;
font-family: verdana, sans-serif;
font-size: 11px;
cursor: pointer;
padding : 1px;
list-style:None;
}
