﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Salespage.master" AutoEventWireup="true"
    CodeFile="AddStandardPackage.aspx.cs" Inherits="AddStandardPackage" %>

<asp:Content ID="cntPlaceholder" ContentPlaceHolderID="ContentPlaceHolder_Page" runat="Server">
    <script src="../JQuery/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#<%=btnSubmit.ClientID%>").click(function () {


                if ($("#<%=ddlCityName.ClientID%>")[0].selectedIndex == 0) {
                    alert("Select city name");
                    $("#<%=ddlCityName.ClientID%>").focus();
                    return false;
                }
                else if ($("#<%=ddlProspectCategories.ClientID%>").val() == 0) {
                    alert("Select prospects categories.");
                    $("#<%=ddlCarCat.ClientID%>").focus();
                    return false;
                }
                else if ($("#<%=ddlCarCat.ClientID%>").val() == 0) {
                    alert("Select car category.");
                    $("#<%=ddlCarCat.ClientID%>").focus();
                    return false;
                }
                else if ($("#<%=ddlProposalFor.ClientID%>").val() == 0) {
                    alert("Select proposal for.");
                    $("#<%=ddlProposalFor.ClientID%>").focus();
                    return false;
                }
                else if ($("#<%=txtPurchaseRate.ClientID%>").val() == "") {
                    alert("Enter package purchase rate");
                    $("#<%=txtPurchaseRate.ClientID%>").focus();
                    return false;
                }
                else if ($("#<%=txtExtraHoursRate.ClientID%>").val() == "") {
                    alert("Enter extra hours rate.");
                    $("#<%=txtExtraHoursRate.ClientID%>").focus();
                    return false;
                }
                else if ($("#<%=txtExtraKMRate.ClientID%>").val() == "") {
                    alert("Enter extra KM rate.");
                    $("#<%=txtExtraKMRate.ClientID%>").focus();
                    return false;
                }
                else if ($("#<%=txtOutstationAllowance.ClientID%>").val() == "") {
                    alert("Enter outstation allowance.");
                    $("#<%=txtOutstationAllowance.ClientID%>").focus();
                    return false;
                }
                else if ($("#<%=txtNightStayAllowance.ClientID%>").val() == "") {
                    alert("Enter night stay allowance.");
                    $("#<%=txtNightStayAllowance.ClientID%>").focus();
                    return false;
                }

            });
        });



    </script>

    <center>
        <table cellpadding="5" cellspacing="0" border="1" width="40%">
            <caption>
                <b>Add Standard Package</b><br />
                &nbsp;
            </caption>
            <tr>
                <td colspan="2" align="center">
                    <asp:Label ID="lblMessage" runat="server"></asp:Label>
                </td>
            </tr>
            <tr>
                <td>
                    <b>City Name</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlCityName" runat="server" AutoPostBack="true" OnSelectedIndexChanged="ddlCityName_SelectedIndexChanged">
                    </asp:DropDownList>
                    <asp:RequiredFieldValidator ID="reqddlCityName" ValidationGroup="pkg" ControlToValidate="ddlCityName"
                        runat="server" ErrorMessage="*" InitialValue="0" Display="Dynamic"></asp:RequiredFieldValidator>
                </td>
            </tr>
            <tr>
                <td><b>Billing Basis</b></td>
                <td>
                    <asp:DropDownList ID="ddlbillingbasis" runat="server">
                        <asp:ListItem Text="-Select-" Value="0" Selected="True"></asp:ListItem>
                        <asp:ListItem Text="Point to Point" Value="pp"></asp:ListItem>
                        <asp:ListItem Text="Garage to Garage" Value="gg"></asp:ListItem>
                    </asp:DropDownList>
                    <asp:RequiredFieldValidator ID="regddlbillingbasis" ValidationGroup="pkg" ControlToValidate="ddlbillingbasis"
                        runat="server" ErrorMessage="*" InitialValue="0" Display="Dynamic"></asp:RequiredFieldValidator>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Prospects Categories</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlProspectCategories" runat="server">
                        <asp:ListItem Text="-Select-" Value="0"></asp:ListItem>
                        <asp:ListItem Text="Category A" Value="A"></asp:ListItem>
                        <asp:ListItem Text="Category B" Value="B"></asp:ListItem>
                    </asp:DropDownList>
                    <asp:RequiredFieldValidator ID="regProspectCategories" ValidationGroup="pkg" ControlToValidate="ddlProspectCategories"
                        runat="server" ErrorMessage="*" InitialValue="0" Display="Dynamic"></asp:RequiredFieldValidator>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Car Category</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlCarCat" runat="server">
                    </asp:DropDownList>
                    <asp:RequiredFieldValidator ID="reqddlCarCat" ValidationGroup="pkg" ControlToValidate="ddlCarCat"
                        runat="server" ErrorMessage="*" InitialValue="0" Display="Dynamic"></asp:RequiredFieldValidator>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Client Commitment</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlcommitment" runat="server"></asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Proposal For</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlProposalFor" runat="server" AutoPostBack="true" OnSelectedIndexChanged="ddlProposalFor_SelectedIndexChanged">
                        <asp:ListItem Text="-Select-" Value="0"></asp:ListItem>
                        <asp:ListItem Text="Local" Value="1"></asp:ListItem>
                        <asp:ListItem Text="Outstation" Value="2"></asp:ListItem>
                        <asp:ListItem Text="Fixed Airport Transfer" Value="3"></asp:ListItem>
                    </asp:DropDownList>
                    <asp:RequiredFieldValidator ID="reqddlProposalFor" ValidationGroup="pkg" ControlToValidate="ddlProposalFor"
                        runat="server" ErrorMessage="*" InitialValue="0" Display="Dynamic"></asp:RequiredFieldValidator>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Purchase Rate</b>
                </td>
                <td>
                    <asp:TextBox ID="txtPurchaseRate" runat="server" Width="50" MaxLength="10" placeholder="0"
                        OnTextChanged="txtPurchaseRate_TextChanged" AutoPostBack="true"></asp:TextBox>
                    <asp:RequiredFieldValidator ID="reqtxtPurchaseRate" runat="server" ValidationGroup="pkg"
                        ControlToValidate="txtPurchaseRate" ErrorMessage="*" Display="Dynamic"></asp:RequiredFieldValidator>
                    <asp:RegularExpressionValidator ForeColor="Red" runat="server" ID="rexNumber1" ControlToValidate="txtPurchaseRate"
                        ValidationExpression="\d+" ErrorMessage="Please enter  number!" ValidationGroup="pkg" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Sale Rate</b>
                </td>
                <td>
                    <asp:TextBox ID="txtBaseRate" runat="server" Width="50" MaxLength="10" placeholder="0" ReadOnly="true"></asp:TextBox>

                </td>
            </tr>
            <tr>
                <td>
                    <b>Package Hours</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlPkgHours" runat="server">
                        <asp:ListItem Text="-Select-" Value="0" Selected="True"></asp:ListItem>
                        <asp:ListItem Text="1" Value="1"></asp:ListItem>
                        <asp:ListItem Text="2" Value="2"></asp:ListItem>
                        <asp:ListItem Text="3" Value="3"></asp:ListItem>
                        <asp:ListItem Text="4" Value="4"></asp:ListItem>
                        <asp:ListItem Text="5" Value="5"></asp:ListItem>
                        <asp:ListItem Text="6" Value="6"></asp:ListItem>
                        <asp:ListItem Text="7" Value="7"></asp:ListItem>
                        <asp:ListItem Text="8" Value="8"></asp:ListItem>
                        <asp:ListItem Text="9" Value="9"></asp:ListItem>
                        <asp:ListItem Text="10" Value="10"></asp:ListItem>
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Package KM</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlPkgKM" runat="server">
                        <asp:ListItem Text="-Select-" Value="0" Selected="True"></asp:ListItem>
                        <asp:ListItem Text="10" Value="10"></asp:ListItem>
                        <asp:ListItem Text="20" Value="20"></asp:ListItem>
                        <asp:ListItem Text="30" Value="30"></asp:ListItem>
                        <asp:ListItem Text="40" Value="40"></asp:ListItem>
                        <asp:ListItem Text="50" Value="50"></asp:ListItem>
                        <asp:ListItem Text="60" Value="60"></asp:ListItem>
                        <asp:ListItem Text="70" Value="70"></asp:ListItem>
                        <asp:ListItem Text="80" Value="80"></asp:ListItem>
                        <asp:ListItem Text="90" Value="90"></asp:ListItem>
                        <asp:ListItem Text="100" Value="100"></asp:ListItem>
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Extra Hours Rate</b>
                </td>
                <td>
                    <asp:TextBox ID="txtExtraHoursRate" runat="server" Width="50" MaxLength="5" placeholder="0"></asp:TextBox>
                    <asp:RequiredFieldValidator ID="reqExtraHoursRate" runat="server" ValidationGroup="pkg"
                        ControlToValidate="txtExtraHoursRate" ErrorMessage="*" Display="Dynamic"></asp:RequiredFieldValidator>
                    <asp:RegularExpressionValidator ForeColor="Red" runat="server" ID="reguExpreExtraHoursRate"
                        ControlToValidate="txtExtraHoursRate" ValidationExpression="\d+" ErrorMessage="Please enter  number!"
                        ValidationGroup="pkg" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Extra KM Rate</b>
                </td>
                <td>
                    <asp:TextBox ID="txtExtraKMRate" runat="server" Width="50" MaxLength="5" placeholder="0"></asp:TextBox>
                    <asp:RequiredFieldValidator ID="reqExtraKMRate" runat="server" ValidationGroup="pkg"
                        ControlToValidate="txtExtraKMRate" ErrorMessage="*" Display="Dynamic"></asp:RequiredFieldValidator>
                    <asp:RegularExpressionValidator ForeColor="Red" runat="server" ID="reqExpressExtraKMRate"
                        ControlToValidate="txtExtraKMRate" ValidationExpression="\d+" ErrorMessage="Please enter  number!"
                        ValidationGroup="pkg" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Threshold Extra Hour</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlThreshouldExHr" runat="server">
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Threshold Extra KM</b>
                </td>
                <td>
                    <asp:DropDownList ID="ddlThreshouldExKM" runat="server">
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Outstation Allowance</b>
                </td>
                <td>
                    <asp:TextBox ID="txtOutstationAllowance" runat="server" Width="50" MaxLength="5"
                        placeholder="0" Text="0"></asp:TextBox>
                    <asp:RequiredFieldValidator ID="reqtxtOutstationAllowance" runat="server" ValidationGroup="pkg"
                        ControlToValidate="txtOutstationAllowance" ErrorMessage="*" Display="Dynamic"></asp:RequiredFieldValidator>
                    <asp:RegularExpressionValidator ForeColor="Red" runat="server" ID="reqExpOutstationAllowance"
                        ControlToValidate="txtOutstationAllowance" ValidationExpression="\d+" ValidationGroup="pkg"
                        ErrorMessage="Please enter  number!" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Night Stay Allowance</b>
                </td>
                <td>
                    <asp:TextBox ID="txtNightStayAllowance" runat="server" Width="50" MaxLength="5" placeholder="0" Text="0"></asp:TextBox>
                    <asp:RequiredFieldValidator ID="reqNightStayAllowance" runat="server" ValidationGroup="pkg"
                        ControlToValidate="txtNightStayAllowance" ErrorMessage="*" Display="Dynamic"></asp:RequiredFieldValidator>
                    <asp:RegularExpressionValidator ForeColor="Red" runat="server" ID="reqExprNightStayAllowance"
                        ControlToValidate="txtNightStayAllowance" ValidationExpression="\d+" ValidationGroup="pkg"
                        ErrorMessage="Please enter  number!" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <asp:Button ID="btnSubmit" runat="server" Text="Submit" ValidationGroup="pkg" OnClick="btnSubmit_Click" />
                </td>
            </tr>
        </table>
        <%--<div class="loading" align="center">
            Add Package. Please wait.<br />
            <br />
            <img src="../Images/loader.gif" alt="" />
        </div>--%>
    </center>
</asp:Content>
