﻿body
{
	background-position: -1px -1px;
	background-image: url('../../App_Images/body_BG.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
}
div.transbox
  {
   filter:alpha(opacity=100);
  /* CSS3 standard */
  opacity:1.0;
  }
/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family:  Tahoma;
	font-size: 15px;
	/*font-weight: bold;
    padding: 5px;*/
    margin-top: 1px;
    cursor: pointer;
    text-align: left;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: Tahoma;
	font-size: 12px;
	/*font-weight: bold;*/
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
/*    background-color: #D3DEEF; */
    border: 0px dotted #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
    text-align: left;
   /* filter:alpha(opacity=100);
	opacity:1.0;*/
}

.WaterMark
{
	/* background-color:Yellow;*/
	font-style:italic;
	color: #C0C0C0;
	}

.GridViewStyle
{
	font-family: Tahoma;
	font-size: small;
	table-layout: auto;
	border-collapse: collapse;
	border: 3px solid #AACEFF;
}
/*Header and Pager styles*/
.HeaderStyle  /*Common Styles*/
{
	background-image: url('../../App_Images/HeaderGlassBlack.gif');
    background-position:center;
    background-repeat:repeat-x;
   /* background-color:#1d1d1d; */
}
.PagerStyle
{
	background-color:#AACEFF;
    background-position:center;
    background-repeat:repeat-x;
	}
.HeaderStyle th
{
    padding: 4px;
    color: #ffffff;
}
.HeaderStyle a
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
}
.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px;
    padding:0px;
}
.PagerStyle td
{
    border-top: #1d1d1d 0px solid;
}
.PagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
   /* border-top:solid 0px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;*/
}
.PagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 4px;
    border-right: solid 0px #1d1d1d;
}
.RowStyle td
{
    background-color: #ffffff;
}
.AltRowStyle td
{
	/*background-color: #F4FAFF;*/
}
.SelectedRowStyle td
{
	/*background-color: #99CCFF;*/
	color: #000000;
	background-image: url('../../App_Images/SelectedRow.gif' );
}
.modalBackground {
            background-color:Gray;
            filter:alpha(opacity=70);
            opacity:0.7;
        }
.confirm{
           background-color:White;
           padding:10px;
           width:370px;
        }